body{
  background-color: #dfdfdf;
}
.imc{
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  width: 60%;
  border-radius: 7px;
  padding: 12px;
  background-color: blue;
}
.corrida{
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  width: 60%;
  border-radius: 7px;
  padding: 12px;
  background-color: yellow;
}
.escala{
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  width: 60%;
  border-radius: 7px;
  padding: 12px;
  background-color: lightgreen;
}
.imcbtn{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.meutxt{
  border: 0px;
}
.separar{
  border: 1px solid black;
  padding: 10px;
  border-radius: 7px;
  background-color: white;
}
.meubtn{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 90%;
}
